header{
    margin: 100px 20px 35px;
}

header h1 {
    color: #cacaca;
    font-size: 2.625em;
    line-height: 1.45em;
    font-weight: 700;
    letter-spacing: -2px;
    margin-bottom: .1em;
    /*text-transform: lowercase;*/
    width: 100%;
    text-shadow: 2px 2px 0 rgba(0,0,0,.15);
}

header h2, .pages header h3 {
    font-size: 1.15em;
    color: #8a8a8a;
    font-family: Lato,Helvetica,Arial,sans-serif;
    line-height: 1.7em;
    word-spacing: .02em;
    font-weight: 400;
}

header .visit{
    margin-top: 20px;
}

.media {
    margin: 20px 20px 60px;
    position: relative;
    display: block;
    width: calc(100% - 40px);
    background-color: #333;
    box-shadow: 8px 8px 0 rgba(0,0,0,.15);
    overflow: visible;
}

.media .bar {
    display: block;
    position: relative;
    height: 24px;
    background-color: #ddd;
    width: 100%;
    color: #6a6a6a;
    z-index: 10;
}

.media .bar i, .media .bar i:after, .media .bar i:before{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #ff5f57;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 10px;
}

.media .bar i:after{
    content: " ";
    left: 16px;
    background-color: #ffbd2e;
    top: 0;
}

.media .bar i:before{
    content: " ";
    left: 32px;
    background-color: #28ca41;
    top: 0;
}

.media .slider{
    display: flex;
}

.media img{
    max-width: 100%;
    max-height: 100%;
}

.text {
    text-align: left;
    margin: 0 20px 35px;
    color: #8a8a8a;
}

.text h2, section h2 {
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 600;
    position: relative;
    display: block;
    letter-spacing: -.045em;
    padding: 0;
    margin-bottom: .4em;
    color: #cacaca;
}

.text hr {
    display: block;
    height: 1px;
    width: 50%;
    background-color: #484848;
    position: relative;
    border: 0;
    margin: .5em 0 1em;
}

.text p {
    font-size: 1.3em;
    line-height: 1.65em;
    margin-bottom: 1em;
}

.text ul {
    list-style: circle;
    padding: 0 1.4em;
    margin-bottom: .6em;
}

.text li{
    font-size: 1.3em;
    line-height: 1.65em;
    margin-bottom: 3px;
}

/* BACK TO PORTFOLIO */
.back-list {
    position: fixed;
    top: 30px;
    left: 90px;
    width: 52px;
    height: 55px;
    display: block;
    -moz-transition: -moz-transform .25s ease-out .3s;
    -o-transition: -o-transform .25s ease-out .3s;
    -webkit-transition: -webkit-transform .25s ease-out;
    -webkit-transition-delay: .3s;
    transition: transform .25s ease-out .3s;
}
.back-list i {
    display: block;
    width: 8px;
    height: 8px;
    background-color: #7a7a7a;
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    -moz-transition: -moz-transform .15s ease-out;
    -o-transition: -o-transform .15s ease-out;
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
}
.back-list i:nth-child(1) {
    -moz-transform: translateY(-11px) translateX(-11px);
    -ms-transform: translateY(-11px) translateX(-11px);
    -webkit-transform: translateY(-11px) translateX(-11px);
    transform: translateY(-11px) translateX(-11px);
}
.back-list i:nth-child(2) {
    -moz-transform: translateY(-11px) translateX(0);
    -ms-transform: translateY(-11px) translateX(0);
    -webkit-transform: translateY(-11px) translateX(0);
    transform: translateY(-11px) translateX(0);
}
.back-list i:nth-child(3) {
    -moz-transform: translateY(-11px) translateX(11px);
    -ms-transform: translateY(-11px) translateX(11px);
    -webkit-transform: translateY(-11px) translateX(11px);
    transform: translateY(-11px) translateX(11px);
}
.back-list i:nth-child(4) {
    -moz-transform: translateX(-11px);
    -ms-transform: translateX(-11px);
    -webkit-transform: translateX(-11px);
    transform: translateX(-11px);
}
.back-list i:nth-child(6) {
    -moz-transform: translateX(11px);
    -ms-transform: translateX(11px);
    -webkit-transform: translateX(11px);
    transform: translateX(11px);
}
.back-list i:nth-child(7) {
    -moz-transform: translateY(11px) translateX(-11px);
    -ms-transform: translateY(11px) translateX(-11px);
    -webkit-transform: translateY(11px) translateX(-11px);
    transform: translateY(11px) translateX(-11px);
}
.back-list i:nth-child(8) {
    -moz-transform: translateY(11px);
    -ms-transform: translateY(11px);
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
}
.back-list i:nth-child(9) {
    -moz-transform: translateY(11px) translateX(11px);
    -ms-transform: translateY(11px) translateX(11px);
    -webkit-transform: translateY(11px) translateX(11px);
    transform: translateY(11px) translateX(11px);
}
