* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --h1: #cacaca;
  --text-color: #8a8a8a;
  --link-color: #9a9a9a;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #2a2a2a;
}

a {
  font-weight: 700;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.my-about-text {
  text-align: center;
}

.my-about-text h1 {
  color: var(--h1);
  font-size: 1.8em;
  line-height: 1.7em;
  font-weight: 700;
}

.my-about-text h2 {
  color: var(--text-color);
  font-size: 1.05em;
  line-height: 1.9em;
  font-weight: 400;
  letter-spacing: -0.75px;
}

.my-about-text h3 {
  color: var(--text-color);
  font-size: 1.05em;
  line-height: 1.9em;
  font-weight: 400;
  letter-spacing: -0.75px;
}

.my-about-text h3 a {
  color: var(--link-color);
  font-size: 1.15em;
  line-height: 1.125em;
  font-weight: 700;
  text-decoration: none;
}

/* Follow me */
.follow-me {
  z-index: 1001;
  position: fixed;
  left: 0;
  top: calc(50% - (220px / 2));
  width: 55px;
  height: 220px;
}

.follow-me small {
  text-align: right;
  color: #7a7a7a;
  font-weight: 600;
  font-size: .65em;
}

.follow-me .vk span {
  display: block;
  width: 35px;
  height: 35px;
  background: url(./images/icons.svg) no-repeat 0 1px;
  background-size: 100% auto;
  text-indent: -9999em;
}

.follow-me .github span {
  display: block;
  width: 35px;
  height: 35px;
  background: url(./images/icons.svg) no-repeat 0 1px;
  background-size: 100% auto;
  text-indent: -9999em;
}

.follow-me .instagram span {
  display: block;
  width: 35px;
  height: 35px;
  background: url(./images/icons.svg) no-repeat 0 1px;
  background-size: 100% auto;
  text-indent: -9999em;
}

.follow-me a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 55px;
  padding-left: 20px;
  margin-left: -20px;
  transition: transform 425ms cubic-bezier(.05,.65,.18,1);
}

.follow-me a:hover {
  -moz-transform: translate3d(20px,0,0);
  -ms-transform: translate3d(20px,0,0);
  -webkit-transform: translate3d(20px,0,0);
  transform: translate3d(20px,0,0);
}

.follow-me .vk {
  display: flex;
  width: 75px;
  height: 55px;
  background-color: #4868ad;
}

.follow-me .github {
  display: flex;
  width: 75px;
  height: 55px;
  background-color: #4e545a;
}

.follow-me .instagram {
  display: flex;
  width: 75px;
  height: 55px;
  background: radial-gradient(circle at 25% 110%,#fdf497 0,#fdf497 5%,#fd5949 45%,#d6249f 60%,#285aeb 90%),radial-gradient(circle at 25% 110%,#b9a800 0,#938500 5%,#b10f00 45%,#8c0061 60%,#002ca9 90%);
}

.follow-me .vk span {
  background-position: -3px -102px;
}

.follow-me .github span {
  background-position: 0 -33px;
}

.follow-me .instagram span {
  background-position: 0 2px;
}
/* Follow me END */

.app-btn {
  margin: 42px auto 0;
  max-width: 280px;
}

/* Анимация текста */

.title {
  width: 33ch;
  overflow: hidden;
  border-right: 4px solid white;
  white-space: nowrap;
  animation: printed-text 5s steps(33), flashin-border .75s step-start infinite;
  display: block;
  margin: 0 auto;
}

@keyframes flashin-border {
  0% {
    border-color: orange;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: orange;
  }
}

@keyframes printed-text{
  from {
    width: 0;
  }
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .follow-me {
    display: none;
  }

  .my-about-text {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .my-about-text h1 {
    animation: none;
    width: 100%;
    white-space: normal;
    font-size: 24px;
    border: none;
  }

  .my-about-text h3 {
    font-size: 16px;
  }

  /* pages */

  .page-control {
    display: none;
  }

  .portfolio-item {
    height: auto !important;
  }

  .back-list {
    position: relative !important;
    top: 20px !important;
    left: 20px !important;
  }
}

@media (max-width: 425px) {
  header {
    margin-top: 30px !important;
  }

  .portfolio-item {
    width: 100% !important;
  }

  .menu ul li a {
    font-size: 35px !important;
  }

  .social {
    display: flex;
    flex-direction: column;
  }

  .share button,
  .share a {
    margin-left: 0 !important;
    margin-bottom: 20px;
  }

  .media .slider {
    display: flex;
    align-items: center;
  }

  footer {
    padding: 0 15px;
  }

  .footer--mail {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
